/* .project_card {
  background: red;
  margin: 10px;
  height: 10%;
  width: 45%;
} */
.project_img {
  /* width: 100%; */
  /* min-width: ; */
}
@media screen and (min-width: 990px) {
  .project_card {
    /* background: red; */
    margin: 10px;
    /* height: 30%; */
    /* width: 30%; */
  }
}
@media screen and (max-width: 450px) {
  .card_image {
    width: 250px;
    height: 250px;
  }
}
.card_image {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 550px;
  height: 550px;
  /* background: red; */
  /* width: 100%;
  height: 100%; */
}
.card_center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background: cadetblue; */
  /* justify-content: center;
  align-items: center;
  width: 40%; */
}
.img {
  /* object-fit: cover; */
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_image::before {
  content: "";
  background: black;
  display: flex;
  /* justify-content: center;
  align-items: center;
  margin: 0 auto; */
  /* opacity: 0.85; */
  position: absolute;
  width: 400px;
  /* height: 0; */
  transition: 0.4s ease-in-out;
}
.card_image:hover::before {
  height: 450px;
}
.card_body {
  position: absolute;
  text-align: center;
  /* top: 65%; */
  left: 50%;
  color: #34cca6;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.card_image:hover .card_body {
  top: 50%;
  opacity: 1;
}
.card_body h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.card_body span {
  display: flex;
  flex-direction: column;
}
.card_body a {
  text-decoration: none;
  color: white;
}
.card_body a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}
/* .proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
} */
