.project_title {
  text-align: center;
}

.project_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project_card {
  /* background: red; */
  margin: 10px;
  height: 10%;
  width: 45%;
}
slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}
